#wrapper
{
	-ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9, 0.9);
    width: 1500px; margin: 0;
    position: none;
    left: 0;
}

#wip, #howtotranslate,#acknowledgement,#modalMenu{display:none;};